<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PROD" value="N"/>
    <add key="gHost" value="twgkhhpsk1ms049"/>
    <add key="gPort" value="2881"/>
    <add key="gUserName" value="APKTEST14"/>
    <add key="gPassword" value="Training!"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>
